* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(to right, #fbf702e2, #ff6347,greenyellow);
  /* padding: 20px; */
}

.social-icon-bar {
  display: flex;
  gap: 10px;
}

.social-icon-bar a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

.social-icon-bar a:hover {
  color: #fe020281;
}

.contact {
  display: flex;
justify-content: center;
text-align: center;

 
}

.contact > li {
  list-style: none;
  color: white;
}

.contact > li > span {
  margin-left: 10px;
}




